/*
Color References
Green: #79b044
Salmon: #dd5638
Blue gray: #3e4249
*/

/*General*/

body{
    margin-top: 50px; 
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background: url('../img/tile.jpg');
    background-size: cover;
    background-position: center; 
}

section#hero{
    /*background: url('../img/hero_img.jpg') rgb(150,200,200);*/
    background-size: cover;
    background-position: center;
    
    /*background-color: gray;*/
}
.navbar-wrapper{
    background: rgb(8,199,240);
}




