/*
Color References
Green: #79b044
Salmon: #dd5638
Blue gray: #3e4249
*/

/*================ GENERAL ============================*/


body{
    margin-top: 50px; 
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 16px;
    background: url('../img/tile.jpg') top left repeat;
    /*background-size: cover;
    background-position: center; */
}

/*=================== GLOBAL CSS ======================*/
h1,h2,h3,h4,h5,h6{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: bold;
}

h1{
    font-size: 3em;
}

h2{
    margin: 0 0 40px;
}

h3{
    margin: 20px 0;
}

h4{
    font-size: 18px;
}

p {

    margin: 0 0 15px;
}
p.lead {
    font-weight: normal;
}

/*========================= Global settings for links =======================*/

li.active {
    border-bottom: 2px solid #6a9b3d;
}
a:link, a:visited {
    color: #dd5638;
}

a:hover {
    text-decoration: none;
    color: #c9302c;

}

button, input, .btn, a.btn{
    color: white;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility; 
}
.btn{
    font-weight: bold;
}

/*removes blue outline of a button after clicked*/
button.btn:focus {
    outline: none !important;
}


.btn-danger{
    background-color: #dd5638;
    border-color: #d95131;
}

.btn-success {
    background: #79b044;
    border: none;
    outline: none;
}

.btn-success:hover {
    background: #6a9b3d;
    border-color: #6a9b3d;
}

img{
    max-width: 100%;
}

.modal-content{
    background: url('../img/tile.jpg') top left repeat;
}


/*CSS3 Shapes*/
/*Coding the social media icon shapes*/
.badge.social {
    background: #ccc;
    font-size: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 42px;
    margin: 0 5px 20px 0;
    padding: 0;
    -webkit-border-radius: 50%; /*set to 50% due to badge size of 40px only */
    -moz-border-radius: 50%;
    border-radius: 50px;
}
.badge.social.twitter:hover {
    background: #55acee;
}

.badge.social.facebook:hover {
    background: #3b5998;
}

.badge.social.gplus:hover {
    background: #db4b39;
}

blockquote {
    padding: 0;
    border: none;
    font-style: italic;
    text-align: left;
}

blockquote cite {
    display: block;
    color: #777;
    margin: 15px 0 0 0;
}

blockquote:before { /*to fix default left margin for first word*/
    display: none;
}
/*End of Global*/

#hero{
    background: url('../img/hero-bg.jpg') 50% 0 repeat fixed;
    min-height: 500px;
    padding: 40px 0;
    color: white;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility; 
}
#hero article{
    width: 100%;
    text-align: center;
}

#hero .hero-text{
    margin-top: 30px;
}

#price-timeline{
margin: 30px 0 60px;
text-align: center;
}


#price-timeline .price{
    display: inline-block;
    margin: 0 2% 0 0; 
    width: 30%;
    background: #3e4249;
    padding: 10px 20px 30px;
    position: relative;
    vertical-align: top;
}

#price-timeline .price.active{
    background: #dd5638;
}

#price-timeline .price span{
    background: #101010;
    display: block;
    height: 70px;
    width: 70px;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 100%;
    -webkit-border-radius: 100%
    -moz-border-radius: 100%;
    position: absolute;
    bottom: -35px;
    left: 50%;
    margin-left: -35px;
    

}

#price-timeline h4{
    margin: 0 0 10px;
    
}

#price-timeline h4 small{
    color: #ffffff;
    font-weight: bold;
    display: block;
    padding-top: 5px;
    
} 



/*LAYOUT*/

/*+ means row class after a row class */
.row + .row {
    margin-top: 20px;


}

section{
    padding: 40px 0;
}
.section-header{
    text-align: center;
}

section h2{
    margin: 20px 0 40px;
}

section h3{
    margin: 30px 0 10px;
}

section.main-content {
    padding: 0;
}



/*================= BLOG FEATURE IMAGE ================*/

/*to have 40px top & bottom for blog page*/
#primary {
    padding: 40px 0 40px;
    margin-bottom: 0;
    
}

.feature-image {
    display: table;
    width: 100%;
}


.feature-image-default {
    background: url('../img/stuff-feature.jpg') no-repeat;
    background-size: cover;
}

.feature-image-default-alt {
    background: url('../img/hipster-stuff.jpg') no-repeat;
    background-size: cover;
}

.feature-image h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
}

#optin{
    background: #3e4249;
    color: white;
    padding: 20px 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility; 
    font-size: 1.2em;
}

#optin p{
    margin: 7px 0 0 0;
    text-align: center;
}


/*who benefits section*/
#who-benefits{
    background: white;
    padding-top: 30px;
    margin-top: 0;
    line-height: 1.5em;
}

/*course features*/
#course-features{
    background: #3e4249;
    color: white;
    text-align: center;
}

/*project features*/
#project-features{
    text-align: center;
}

/*featurette section*/
#featurette{
    background: url('../img/stuff-bg.jpg') 50% 100% repeat fixed;
    background-size: cover; /*resized the image as the viewport changes*/
    text-align: center;
    color: white;
}

/*Instructor section*/
#instructor{
                                            /*90% horizontal position, -10px top */
    background: url('../img/brad-elvis.png') 90% -10px no-repeat;
}

#instructor h2 {
    margin: 0 0 20px;
}

#instructor .num {
    display: table; /*set parent display to table*/
    font-size: 30px;
    font-weight: bold;
    color: white;
    line-height: 24px;
    height: 140px;
    width: 140px;
    text-align: center;
    background: #dd5638;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
     -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility; 
}

/*Vertically align content within an element*/

#instructor .num .num-content {
    display: table-cell; /*by default, display set to display: block, set #instructor .num to display: table in order for child element .num-content to work*/
    vertical-align: middle;
}
#instructor .num span {
    display: block;
    font-size: 20px;
    font-weight: normal;
}

/*Testimonials Section*/

#kudos {
    text-align: center;
    background: white;
}

.testimonial {

    margin-bottom: 60px;
}

.testimonial img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

/*========================Custom icon sprites==============================*/
/*create photoshop images in a single line at equal size*/
i.ci{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: url('../img/icon-sprite.png') no-repeat;

}

.ci.ci-computer     {background-position: 0, 0;}
.ci.ci-watch        {background-position: -40px, 0;}
.ci.ci-calendar     {background-position: -80px, 0;}
.ci.ci-community    {background-position: -120px, 0;}
.ci.ci-instructor   {background-position: -160px, 0;}
.ci.ci-device       {background-position: -200px, 0;}

/*=========================== FORMS  =====================================*/
label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"], 
textarea {

color: #666;
padding: 10px 5px 10px;
border: 1px solid #ccc;
-webkit-webkit-border-radius: 3px;
-moz-webkit-border-radius: 3px;
border-radius: 3px;
display: block;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 100%;
padding: 6px 12px;
}
/*=========== END OF FORMS ==========*/


/*==========Signup Section===========*/
#signup {

    background: url('../img/hipster-stuff.jpg') center center repeat fixed; 
    background-size: cover;
    text-align: center;
    color: white;
    padding: 140px 0;
}

#signup h2 {
    font-weight: normal;
}

#signup h2 strong {
    border-bottom: solid 2px #dd5638;
}

#signup .btn {
    font-size: 24px;
}


/*footer section*/

footer {

    background: #3e4249;
    padding: 20px 0 10px;
    color: white;
    font-size: 14px;
    text-align: center;

}

footer p {
    margin: 0;
}

footer a:link, footer a:visited {

    color: white;
}

footer a:hover {

    color: #dd5638;
    
}

footer li.signup-link a {

    color: #dd5638;
}

footer li.signup-link a:hover {

    font-weight: bold;
}


/*==========================BLOG PAGE===================*/

.post, .widget, #comments {
    position: relative;
    border: 1px solid #ddd;
    background: white;
    margin: 0 0 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.post header,
.post .post-excerpts,
.post .post-body,
#comments .comments-wrap{
    padding: 20px;
}

.post header h1,
.post header h3 {
    margin: 0 0 15px;
    padding:0 0 15px;
    border-bottom: 1px solid #ddd;
}

.post header h1 {
    font-size: 24px;
}

.post-image {
    height: auto;
}

.post-details {
    font-size: 12px;
    width: 90%;
}

.post-details i.fa{
    padding-left: 10px;
}

/*deleting the padding of the first i.fa child*/
.post-details i.fa:first-child{
    padding-left: 0;
}

/*=============WIDGETS=====================================*/
.widget {
    padding: 20px;
}

.widget h4 {
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid rgba(137,132,132,0.4);
}

.widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget ul li {
    margin: 0 0 5px;
}

.widget ul li:hover {
    position: relative;
    left: 1px;
    font-weight: bold;
}


/*============COMMENTS=====================================*/
.post-comments-badge {
	height: 70px;
	width: 70px;
	position: absolute;
	top: 25px;
	right: 20px;
	border: none;
	-webkit-webkit-border-radius: 100%;
	-moz-webkit-border-radius: 100%;
	border-radius: 100%;
	background: #79b044;
	display: center;
	display: table;
}

.post-comments-badge a {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    line-height: 20px;
    color: white;
    text-align: center;
}

.post-comments-badge i.fa {
    display: block;
    padding: 0;
    font-size: 15px;
    margin-bottom: 4px;
}

.post-comments-badge:hover {
    background-color: #8bc653;

}

#comments h3 {

    text-align: center;
}

#comments h4 {
    font-size: 1.3em;
}

#comments ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

#comments ol li {
    background: rgba(0,0,0,0.02);
    padding: 10px 20px;
    margin: 10px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.03);

}

#comments ol li ol.children {
    padding: 0;
    list-style: none;
    font-size: 0.96em;
}

#leave-comment {
    margin: 40px 0 0;
    padding: 20px 0 0;
    border-top: solid 1px #eee;
}


/*======post========*/
.comment-form-submit input {
    color: black;
}

.comment-form-submit input:hover {
    font-weight: bold;
}

/*============ RESOURCES ===========*/
.resource {
    width: 31.33333333%;
    float: left;
    margin: 0 3% 40px 0;
}
/*selects every 3rd child element in a resource class and set a style*/
.resource:nth-child(3n) {
    margin-right: 0;
}



/*====================== MEDIA QUERIES =====================*/

@media screen and (max-width : 991px) {

    #instructor .container {

        background: rgba(255,255,255,0.8);
        padding: 20px;
    }

}
/*tabs*/
@media screen and (max-width : 768px) {
    .logo {
        width: 50%;
    }

    #optin p {

        margin: 0 0 10px;
    }

    #featurette iframe {

        height: 240px;
    }

    .resource {
        width: 48%;
        margin-right: 2%;
        /*min-height: 800px;*/
    }
}

/*iphone 5 & up*/
@media screen and (max-width : 568px) {

    #instructor .num {
        height: 80px;
        width: 80px;
        font-size: 20px;
    }

    #instructor .num span{
        font-size: 16px;
    }

    .resource {
        width: 100%;
        margin-right: 0;
        /*min-height: 0;*/
    }

}